<div class="flex flex-wrap gap-6 min-h-screen mb-15">
    <div class="flex-2 flex flex-col gap-10 min-w-70">
        <app-migracalm-x></app-migracalm-x>
        <div>
            <h1 class="mb-4 text-[32px] font-semibold">About this event</h1>
            <p class="text-secondary">We will be conducting clinical trials of the new drug "Migracalm-X," which is designed to treat acute forms of migraines. We are going to test its effectiveness on 200 patients who have been suffering from this disorder for many years. The upcoming clinical trials will allow us to evaluate the safety and efficacy of the drug, as well as obtain important data for its registration and release on the market.</p>
        </div>
    </div>
    <app-map class="flex-1 min-w-2xs min-[680px]:border-l min-[680px]:pl-5.5 border-border"></app-map>
</div>