<nav class="component-container flex justify-end items-center flex-wrap-reverse gap-y-8 bg-white mt-4 mb-4">
    <ul class="flex justify-center flex-wrap grow ml-10 mr-10 gap-x-12 gap-y-6">
        <li>
            <a href="#" class="navbar-link">
                <img src="assets/icons/home.svg" alt="homepage">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" class="navbar-link">
                <img src="assets/icons/tables.svg" alt="tables page">
                <span>Tables</span>
            </a>
        </li>
        <li>
            <a href="#" class="navbar-link">
                <img src="assets/icons/process.svg" alt="process page">
                <span>Process</span>
            </a>
        </li>
        <li>
            <a href="#" class="navbar-link">
                <img src="assets/icons/documentation.svg" alt="documentation">
                <span>Documentation</span>
            </a>
        </li>
    </ul>
    <div class="flex items-center gap-2 h-10">
        <button class="navbar-item flex-none w-9 h-9 bg-amber-100">
            <img class="w-5 h-5" src="assets/icons/sun.svg" alt="toggle theme">
        </button>
        <button class="navbar-item">
            <img src="assets/icons/bell.svg" alt="notifications">
        </button>
        <button class="navbar-item">
            <img src="assets/icons/menu.svg" alt="menu">
        </button>
        <button class="navbar-item overflow-hidden">
            <img src="assets/images/naked-woman.jpg" alt="user profile">
        </button>
    </div>
</nav>