<nav class="flex justify-end items-center bg-white h-16">
    <ul class="flex justify-center gap-12 w-full">
        <li>
            <a class="navbar-link">
                <img src="assets/icons/home.svg" alt="homepage">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a class="navbar-link">
                <img src="assets/icons/tables.svg" alt="tables page">
                <span>Tables</span>
            </a>
        </li>
        <li>
            <a class="navbar-link">
                <img src="assets/icons/process.svg" alt="process page">
                <span>Process</span>
            </a>
        </li>
        <li>
            <a class="navbar-link">
                <img src="assets/icons/documentation.svg" alt="documentation">
                <span>Documentation</span>
            </a>
        </li>
    </ul>
    <div class="flex gap-6 h-10">
        <button class="navbar-item w-10 bg-amber-100 rounded-full">
            <img src="assets/icons/sun.svg" alt="toggle theme">
        </button>
        <button class="navbar-item">
            <img src="assets/icons/bell.svg" alt="notifications">
        </button>
        <button class="navbar-item">
            <img src="assets/icons/menu.svg" alt="menu">
        </button>
        <button class="navbar-item">
            <!-- <img src="assets/images/naked-woman.jpg" alt="user profile"> -->
        </button>
    </div>
</nav>