<div class="flex justify-between items-center mb-10">
    <div>
        <h2 class="font-semibold text-xl">Total tests</h2>
        <p class="text-secondary">Testing results received in all areas</p>
    </div>
    <select 
    [value]="daysRange()"
    (change)="onRangeChange($event)"
    name="date-from" 
    id="date-from">

    @let current = currentDate();
    @let currentDay = current.getDate();
    @let currentYear = current.getFullYear();

    @for (variant of dateSelectVariants; track variant) {
        <option [value]="variant">{{ current | substractDate: variant | date: 'MMM d' }} - {{currentDay}}, {{currentYear}}</option>
        <option [value]="variant">{{ current | substractDate: variant | date: 'MMM d' }} - {{currentDay}}, {{currentYear}}</option>
        <option [value]="variant">{{ current | substractDate: variant | date: 'MMM d' }} - {{currentDay}}, {{currentYear}}</option>
    }
    </select>
</div>
<div class="w-full h-full">
    <canvas #testsChart class="diagram"></canvas>
</div>