<div class="flex justify-between items-center mb-10">
    <div>
        <h2 class="font-semibold text-xl">Total tests</h2>
        <p class="text-secondary">Testing results received in all areas</p>
    </div>
    <select 
    [value]="daysRange()"
    (change)="onRangeChange($event)"
    name="date-from" 
    id="date-from">

    @let current = currentDate();
    @let currentDay = current.getDate();
    @let currentYear = current.getFullYear();

        <option value="7">{{ current | substractDate: 7 | date: 'MMM d' }} - {{currentDay}}, {{currentYear}}</option>
        <option value="14">{{ current | substractDate: 14 | date: 'MMM d' }} - {{currentDay}}, {{currentYear}}</option>
        <option value="28">{{ current | substractDate: 28 | date: 'MMM d' }} - {{currentDay}}, {{currentYear}}</option>
    </select>
</div>
<div class="w-full h-full">
    <canvas #testsChart class="diagram"></canvas>
</div>