<div class="mb-14">
    <h1 class="page-name">Testing Dashboard</h1>
    <p class="page-description">Uncover insights into your testing processes.</p>
</div>
<div class="flex gap-6">
    <div class="flex flex-col gap-10">
        <!-- Main stats -->
        <div class="">
            <app-today-stats></app-today-stats>
        </div>
        <!-- Total tests -->
        <div>
            <app-total-tests-diagram></app-total-tests-diagram>
        </div>
    </div>
    <div>
        <app-diagram-card></app-diagram-card>
    </div>
</div>