<div class="mb-14">
    <h1 class="page-name">Testing Dashboard</h1>
    <p class="page-description">Uncover insights into your testing processes.</p>
</div>
<div class="flex gap-6 flex-wrap md:flex-nowrap w-full">
    <div class="flex-1 flex flex-col gap-10 min-w-80">
        <!-- Main stats -->
        <div class="">
            <app-today-stats></app-today-stats>
        </div>
        <!-- Total tests -->
        <div>
            <app-total-tests-diagram></app-total-tests-diagram>
        </div>
    </div>
    <div class="flex-1 grid gap-6 min-w-68"
         style="grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));">
        <app-diagram-card class="w-full">
            <app-total-tested-drugs></app-total-tested-drugs>
        </app-diagram-card>
        <app-diagram-card class="w-full">
            <app-drug-approval-rates></app-drug-approval-rates>
        </app-diagram-card>
        <app-diagram-card class="w-full">
            <app-testing-process></app-testing-process>
        </app-diagram-card>
        <app-diagram-card class="w-full">
            <app-number-of-people-tested></app-number-of-people-tested>
        </app-diagram-card>
    </div>
</div>