/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


@theme {
    --color-primary: #141828;
    --color-secondary: #56627D;
    --color-accent: #3874FF;
    --color-background: #f5f7fa;

    --font-sans: "Inter";

}

@layer base {
    body {
        @apply font-medium text-primary text-sm;
    }
}

@layer components {
    .component-container {
        @apply pl-6 pr-6 pt-8;
    }

    .page-name {
        @apply text-primary text-2xl font-semibold;
    }

    .page-description {
        @apply text-secondary font-medium;
    }
}