<div class="p-4 bg-white border-2 border-border rounded-md">
    <div class="flex gap-5 justify-between items-center font-semibold text-lg">
        <div class="flex gap-3.5 items-center">
            <h2>Total teste drugs</h2>
            <div class="pl-2 pr-2 pt-1 pb-1 border-2 rounded-full border-amber-300 text-xs text-amber-600 bg-amber-100">-6.8%</div>
        </div>
        <h2>16,247</h2>
    </div>
    <p class="text-sm font-medium text-secondary">Last 7 days</p>
    <div>
        DIAGRAM
    </div>
    <div class="">
        <div class="flex justify-between font-medium text-sm text-secondary">
            <div class="flex gap-2 items-center">
                <div class="w-5 h-2.5 rounded-xs bg-accent"></div>
                <p>Completed</p>
            </div>
            <p>52%</p>
        </div>
    </div>
</div>