<div class="mb-5">
    <h1 class="page-name">List of medications in development</h1>
    <p class="page-description">Brief summary of testing processes</p>
</div>
<!-- Table -->
<div class="w-full mb-8 overflow-x-auto overflow-y-hidden">
    <table class="w-full border-collapse">
        <thead>
            <tr class="h-8 border-b-2 border-t-2 border-gray-200">
                <th class="th cell">NAME</th>
                <th class="th cell">LOCATION</th>
                <th class="th cell">START DATE</th>
                <th class="th cell">END DATE</th>
                <th class="th cell">SUCCESS REACTION</th>
                <th class="th cell">PROCESS</th>
                <th class="th cell">STATUS</th>
            </tr>
        </thead>
        <tbody>
            @for (row of allDrugs(); track row.id) {
                <tr class="h-14 border-b-2 border-gray-200">
                    <td class="cell text-accent font-semibold">{{ row.name }}</td>
                    <td class="cell td-font">{{ row.location }}</td>
                    <td class="cell td-font">{{ row.startDate | date:'mediumDate'}}</td>
                    <td class="cell td-font">{{ row.endDate | date:'mediumDate'}}</td>
                    @if(row.successReaction) {
                        <td class="cell">
                            <div class="center-container w-8 h-8 rounded-full bg-green-100">
                                <img src="./assets/icons/success.svg" alt="success">
                            </div>
                        </td>
                    }
                    @else {
                        <td class="cell">
                            <div class="center-container w-8 h-8 rounded-full bg-red-100">
                                <img src="./assets/icons/fail.svg" alt="fail">
                            </div>
                        </td>
                    }
                    
                    <td class="cell td-font">
                        <p>
                            {{ `${row.process.current} / ${row.process.total}` }}
                        </p>
                        <div class="w-4/5 progress-bar">
                            <div class="h-full bg-success transition-all duration-500" 
                            [style.width.%]="row.process.current | progressPercentage:row.process.total"></div>
                        </div>
                    </td>
                    <td class="cell">
                        <div class="flex gap-1 items-center w-4/5 h-full">
                            <div class="progress-bar bg-accent" [style.width.%]="row.status.healthy"></div>
                            <div class="progress-bar bg-fail" [style.width.%]="row.status.unhealthy"></div>
                            <div class="progress-bar bg-amber-600" [style.width.%]="row.status.dangerous"></div>
                            <div class="progress-bar bg-success" [style.width.%]="row.status.noEffect"></div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @let loaded = loadedDrugs();
    @let all = allDrugsAmount();

    @if(loaded !== all) {
        <div class="flex items-center gap-2.5 h-14 border-b-2 border-gray-200">
            <p class="td-font">1 to {{ loaded }} items of {{ all }}</p>
            <button (click)="loadAllDrugs()" class="flex gap-2.5 cursor-pointer">
                <p class="text-accent font-normal">View all</p>
                <img src="./assets/icons/little-arrow.svg" alt="view all">
            </button>
        </div>
    }
</div>